*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    width: 100vw;
    min-height: 100vh;
    margin: auto;
@media screen and (max-width: 600px) {
    .heading{
        width: 100vw;
        margin: auto 0;
        a{
            position: absolute;
            right: 1%;
        }
    }
    .crisis{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 100vw;
        width: 100%;
        margin: auto;
    }
    .heading{
        width: 100%;        
    }
    .vital{
        margin: auto 10px;
    }
    .process{
        margin: auto 10px;
    }
    .types{
        margin: auto 10px;
    }
}
}
.heading{
    background-color: gray;
    max-width: 200vw;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        color: white;
        position: absolute;
        right:5%;
        &:hover{
            color: gold;
        }
    }
    h1{
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        color: aliceblue;
        opacity: 0.7;
        margin-left: 10px;
    }
    
    
}
.crisis{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
    .vital{
        width: auto;
        margin:10px;
        .heads{
            position: relative;
            color: coral;
            top: 5%;
            opacity: 0.7;
            font-weight: bold;
            img{
                width: 150px;
                height: auto;
                border-radius: 5px;
                margin-left: 20px;
            }
            p{
             height: 100px;   
             margin-left: 20px;

            }
            h3{
                font-size: 15px;
            }
        }
        h2{
            text-transform: uppercase;
            font-size: 15px;
            color: blue;
            text-align: center;
        }
        p{
            font-size: 15px;
            color: gray;
        }
    }
    .process{
        width: auto;
        h2{
            text-transform: uppercase;
            font-size: 15px;
            color: blue;
            text-align: center;
        }
        p{
            font-size: 15px;
            color: gray;
        }
        h3{
            color: coral;
            text-align: center;
            text-transform: uppercase;
            margin-top: 10px;
        }
        b{
            font-size: 20px;
        }
    }
    .types{
        width: auto;
        h2{
            text-transform: uppercase;
            font-size: 15px;
            color: blue;
            text-align: center;
        }
        p{
            font-size: 15px;
            color: gray;
        }
        
        b{
            font-size: 20px;
        }
    }
}
#myfooter{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: bold;
    background: grey;
    height: 10vh;
    margin-top: 10px;
    width: 100vw;
    @media screen and (max-width: 600px) {
        width: 100vw;
        height: 10vh;
        margin-bottom: 0;
        p{
            margin: 10px auto;
        }
    }
    p{
        margin: auto;
    }
    
}
